
@{
    ViewData["Title"] = "AdminDashboard";
}

<h1>AdminDashboard</h1>

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
   
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Catagories" asp-action="Index"> Catagories list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Catagories" asp-action="Details">Details veiw</a>
        </li>
        <li class="nav-item text-right">
            <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="Index">items List</a>
        </li>
        <li class="nav-item text-right">
            <a class="nav-link text-dark" asp-area="" asp-controller="Items" asp-action="">Details </a>
        </li>
        
    </ul>
</div>